@font-face {
  font-family: chirp;
  src: url("./Chirp\ Bold.otf");
}
@font-face {
  font-family: rchirp;
  src: url("./Cantarell-Regular.ttf");
}
.background {
  background-color: black;
}
.logo {
  width: 320px;
  padding-right: 385px;
  margin-top: -3%;
  margin-left: 0%;
}
.head1 {
  color: whitesmoke;
  font-size: 70px;
  font-family: chirp;
  margin-top: 9%;
  font-weight: bold;
}
.head2 {
  color: whitesmoke;
  font-size: 30px;
  font-family: chirp;
  margin-bottom: 8%;
}
.head3 {
  color: whitesmoke;
  font-size: 16px;
  font-family: chirp;
  margin-top: 61px;
  margin-bottom: 3%;
}
.white {
  color: white;
}
.text {
  color: grey;
  font-size: 12px;
  text-align: left;
}
.button4:link {
  padding: 10px 77px 10px 77px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  background-color: white;
  color: gray;
  text-decoration: none;
  margin-top: 50px;
  bottom: 49%;
  font-family: "Google Sans", arial, sans-serif;
}
.button4:hover {
  color: black;
}
.button4:visited {
  color: black;
}
.button1:link {
  padding: 10px 77px 10px 77px;
  font-size: 15px;
  border-radius: 50px;
  background-color: white;
  color: black;
  text-decoration: none;
  margin-top: 50px;
  bottom: 51%;
  font-family: "Google Sans", arial, sans-serif;
}
.button1:hover {
  color: black;
}
.button1:visited {
  color: black;
}

.button2:hover {
  color: white;
}

.button2:link {
  padding: 10px 98px 10px 98px;
  font-size: 15px;
  border-radius: 50px;
  background-color: rgb(29, 155, 240);
  color: white;
  text-decoration: none;
  margin-top: 50px;
  font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.button2:visited {
  color: white;
}
.button3 {
  padding: 10px 123px 10px 123px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  background-color: black;
  border: 1px solid white;
  color: rgb(46, 143, 254);
  margin-top: 50px;
  margin-bottom: 10%;
  font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.button3:hover {
  color: rgb(46, 143, 254);
}
.button3:visited {
  color: rgb(46, 143, 254);
}
.terms{
  margin-top: 0%;
  font-family: rchirp;
  font-size: 9pt;
  
}
.gidelines:link {
  color: rgb(46, 143, 254);
  text-decoration: none;
  margin-bottom: -10px;
}
.gidelines:hover {
  color: rgb(46, 143, 254);
}
.gidelines:visited {
  color: rgb(46, 143, 254);
}
.pic1 {
  width: 20px;
  height: 15px;
  border-radius: 50px;
}
.pic1 {
  height: 80;
  top: 14px;
}
.line {
  position: relative;
  font-size: 15px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  width: 57%;
}
.line:before,
.line:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 57%;
  height: 1px;
  content: "\a0";
  background-color: gray;
  
}
.line:before {
  margin-left: -57%;
  text-align: right;
}
.color {
  background-color: #ccc;
}
.bottom:link {
  
  padding: 7px;
  margin-bottom: -20px;
  font-size: 10.5pt;
  color: gray;
  text-align: center;
  margin: auto;
  text-decoration: none;
}
.bottom:hover {
  color: gray;
  text-decoration: underline;
}
.bottom:visited {
  color: gray;
}

.footer {
  text-align: center;
  font-size: 2px;
  margin-left: -1.5%;
  font-family: rchirp;
  margin-top: 9%;
  
  }
.stamp{
    color: gray;
    font-size: 10pt;
    margin-right: 2.3%;
    font-family: rchirp;
}
.stamp:hover{
    color: gray;
    
}
.footers{
  text-align: center;
  font-size: 2px;
  margin-top: 0.5%;
  margin-bottom: 15px;
  font-family: rchirp;

}
.space{
  margin-left: 20%;
  margin-top: 10%;
}

  